@page "/block/{blockId:int}"
@page "/block/{blockHash?}"

@using MediatR;
@using Polkanalysis.Domain.Contracts.Dto.Block;
@using Polkanalysis.Domain.Contracts.Primary;
@using Polkanalysis.Domain.Contracts.Primary.Result;
@using Polkanalysis.Domain.Contracts.Secondary.Repository;
@inject IMediator _mediator;

<div class="card">
    <div class="card-header">
        Details block n°@blockId
        <div class="card-action">
            <div class="dropdown">
                <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
                    <i class="icon-options"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="javascript:void();">Export PDF</a>
                    <a class="dropdown-item" href="javascript:void();">Export Excel</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        @*<Data UseCaseData="@blockDetail">
            @if (blockDetail == null)
            {
                <Loader />
            }
            else
            {
                <span>Hash : @blockDetail.Value.Hash</span>

            }
        </Data>*@

    </div>
    <div class="table-responsive">
        <table class="table align-items-center">
            <tbody>
                <tr>
                    <td><PolkadotIcons IconName="Block Number.svg" /> Block hash</td>
                    <td>@blockDetail.Value.Value.Hash</td>
                </tr>
                <tr>
                    <td><i class="fa-solid fa-alarm-clock"></i> Timestamp</td>
                    <td>@blockDetail.Value.Value.Date.Date</td>
                </tr>
                <tr>
                    <td><PolkadotIcons IconName="Time.svg" /> Block time</td>
                    <td>@blockDetail.Value.Value.Date.Date</td>
                </tr>
                <tr>
                    <td><i class="fa-solid fa-battery-empty"></i> Status</td>
                    <td>@blockDetail.Value.Value.Status</td>
                </tr>
                <tr>
                    <td><PolkadotIcons IconName="Blockchain.svg" /> Parent hash</td>
                    <td>@blockDetail.Value.Value.ParentHash</td>
                </tr>
                <tr>
                    <td><i class="fa-solid fa-signal-bars"></i> State root</td>
                    <td>@blockDetail.Value.Value.StateRoot</td>
                </tr>
                <tr>
                    <td><PolkadotIcons IconName="Block Explorer.svg" /> Extrinsic root</td>
                    <td>@blockDetail.Value.Value.ExtrinsicsRoot</td>
                </tr>
                <tr>
                    <td><PolkadotIcons IconName="Validator.svg" /> Validator</td>
                    <td>@blockDetail.Value.Value.Validator</td>
                </tr>
                <tr>
                    <td><PolkadotIcons IconName="Version.svg" /> Spec version</td>
                    <td>@blockDetail.Value.Value.SpecVersion</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@code {
    [Parameter] public int? blockId { get; set; }
    [Parameter] public string? blockHash { get; set; }
    //private BlockLightDto? blockDetail;
    private OperationResult.Result<BlockDto, ErrorResult>? blockDetail;

    protected override async Task OnInitializedAsync()
    {
        //await _blockRepository.GetBlockLightAsync(blockCommand.BlockHash, cancellationToken);
        //var blockUseCase = new Polkanalysis.Domain.UseCase.Explorer.Block.BlockDetailUseCase();
        //var result = await blockUseCase.ExecuteAsync(new BlockCommand((uint)blockId), CancellationToken.None));

        blockDetail = await _mediator.Send(new BlockDetailsCommand((uint)blockId));
        StateHasChanged();
    }
}
