@using Polkanalysis.Domain.Contracts.Dto.Staking.Validator
@inject NavigationManager _navigationManager;

<FluentDataGrid Items="@Validators!.AsQueryable().Where(x => x.StashAddress.Name.Contains(validatorNameFilter, StringComparison.CurrentCultureIgnoreCase))"
                ResizableColumns=true
                Pagination="@pagination"
                TGridItem="ValidatorLightDto"
                ShowHover="true">
    <PropertyColumn Property="@(c => c.StashAddress)" Title="Stash" Sortable="true" Align="Align.Start" Width="10%">
        <ColumnOptions>
            <div class="search-box">
                <FluentSearch type="search" Autofocus=true @bind-Value=validatorNameFilter @oninput="HandleNameFilter" AfterBindValue="HandleClear" Placeholder="Pool name..." />
            </div>
        </ColumnOptions>
    </PropertyColumn>
    <PropertyColumn Property="@(c => c.SelfBonded)" Title="Self Bonded" Sortable="true" Format="N2" Align="Align.Center" Width="15%" />
    <PropertyColumn Property="@(c => c.TotalBonded)" Title="Total Bonded" Sortable="true" Align="Align.End" Width="20%" />
    <PropertyColumn Property="@(c => c.NbNominatorsVote)" Title="Nominators vote" Sortable="true" Align="Align.End" Width="20%" />
    <TemplateColumn>
        <FluentButton IconStart="new Icons.Regular.Size16.Eye()" Appearance="Appearance.Accent" @onclick="(() => GoToDetails(context.StashAddress.Address))">
            Details
        </FluentButton>
    </TemplateColumn>
</FluentDataGrid>

<FluentPaginator State="@pagination">
    <SummaryTemplate>
        There are <strong>@(pagination.TotalItemCount ?? 0)</strong> rows
    </SummaryTemplate>
    <PaginationTextTemplate>
        This is page <strong>@(pagination.CurrentPageIndex + 1)</strong> out of a total of <strong>@(pagination.LastPageIndex + 1)</strong> pages
    </PaginationTextTemplate>
</FluentPaginator>

@code {
    [Parameter] public IEnumerable<ValidatorLightDto>? Validators { get; set; }
    PaginationState pagination = new PaginationState { ItemsPerPage = 10 };
    string validatorNameFilter = string.Empty;

    private void HandleNameFilter(ChangeEventArgs args)
    {
        if (args.Value is string value)
        {
            validatorNameFilter = value;
        }
    }

    private void HandleClear()
    {
        if (string.IsNullOrWhiteSpace(validatorNameFilter))
        {
            validatorNameFilter = string.Empty;
        }
    }

    protected void GoToDetails(string validatorAddress)
    {
        _navigationManager.NavigateTo($"validator/{validatorAddress}");
    }
}
