@using Microsoft.AspNetCore.Components.Routing;

<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" /></label>
    <nav class="sitenav" aria-labelledby="main-menu" onclick="document.getElementById('navmenu-toggle').click();">
        <FluentNavMenu Id="main-menu" Collapsible="true" Width="250" Title="Navigation menu" @bind-Expanded="expanded">
            <FluentNavLink Href="/" Match="NavLinkMatch.All"
                           Icon="@(new Icons.Regular.Size20.Home())">
                Home
            </FluentNavLink>

            <FluentNavGroup Icon="@(new PolkanalysisIcons.PolkadotIcons.BlockExplorer())" Expanded="true">
                <TitleTemplate><h5>Explorer</h5></TitleTemplate>
                <ChildContent>
                    <FluentNavLink Href="blocks"
                                   Icon="@(new PolkanalysisIcons.PolkadotIcons.BlockNumber())">
                        Blocks
                    </FluentNavLink>
                    <FluentNavLink Href="extrinsics"
                                   Icon="@(new PolkanalysisIcons.PolkadotIcons.Extrinsic())">
                        Extrinsics
                    </FluentNavLink>
                    <FluentNavLink Href="events"
                                   Icon="@(new PolkanalysisIcons.PolkadotIcons.Event())">
                        Events
                    </FluentNavLink>
                </ChildContent>
            </FluentNavGroup>

            <FluentNavGroup Icon="@(new PolkanalysisIcons.PolkadotIcons.AccountPortability())" Expanded="true">
                <TitleTemplate>
                    <h5>Accounts</h5>
                </TitleTemplate>
                <ChildContent>
                    <FluentNavLink Href="accounts" Icon="@(new Icons.Regular.Size24.People())">Members</FluentNavLink>
                </ChildContent>
            </FluentNavGroup>

            <FluentNavGroup Icon="@(new PolkanalysisIcons.PolkadotIcons.Runtime())" Expanded="true">
                <TitleTemplate><h5>Runtime</h5></TitleTemplate>
                <ChildContent>
                    <FluentNavLink Href="modules" Icon="@(new PolkanalysisIcons.PolkadotIcons.Modules())">Modules</FluentNavLink>
                </ChildContent>
            </FluentNavGroup>

            <FluentNavGroup Icon="@(new PolkanalysisIcons.PolkadotIcons.Staking())" Expanded="true">
                <TitleTemplate><h5>Staking</h5></TitleTemplate>
                <ChildContent>
                    <FluentNavLink Href="pools" Icon="@(new PolkanalysisIcons.PolkadotIcons.Pools())">Pools</FluentNavLink>
                    <FluentNavLink Href="validators" Icon="@(new PolkanalysisIcons.PolkadotIcons.Validators())">Validators</FluentNavLink>
                    <FluentNavLink Href="nominators" Icon="@(new PolkanalysisIcons.PolkadotIcons.Nominators())">Nominators</FluentNavLink>
                </ChildContent>
            </FluentNavGroup>

            <FluentNavGroup Icon="@(new PolkanalysisIcons.PolkadotIcons.Dex())" Expanded="true">
                <TitleTemplate><h5>Parachains</h5></TitleTemplate>
                <ChildContent>
                    <FluentNavLink Href="parachains" Icon="@(new PolkanalysisIcons.PolkadotIcons.Parachains())">Parachain</FluentNavLink>
                    <FluentNavLink Href="crowloans" Icon="@(new PolkanalysisIcons.PolkadotIcons.Crowdloans())">Crowloans</FluentNavLink>
                </ChildContent>
            </FluentNavGroup>
        </FluentNavMenu>
    </nav>
</div>
    

@code {
    private bool expanded = true;
}

