@inherits CriteriaFilter<double>

@using Polkanalysis.Domain.Contracts.Common.Search

<div class="row g-3 align-items-left">
    <div class="col-auto">
        @{
            base.BuildRenderTree(__builder);
        }
        @* <FluentSelect Items=@optionsSelector
                      TOption="Option<Operator>"
                      Multiple="false"
                      OptionText="@(i => i.Text.ToString())"
                      OptionValue="@(i => i.Value.ToString())"
                      OptionDisabled="@(i => i.Disabled)"
                      Disabled="@IsDisabled"
                      SelectedOptionChanged="OnSelectedOptionsChanged" /> *@
    </div>
    <div class="col-auto">
        <FluentNumberField TValue="@(double)" @oninput="(e => OnInputChanged(e, OnInternalValueChanged))" Disabled="@IsDisabled" />
    </div>
    <div class="col-auto">
        @if (displaySecondField)
        {
            <FluentNumberField TValue="@(double)" @oninput="(e => OnInputChanged(e, OnInternalValue2Changed))" Disabled="@IsDisabled" />
        }
    </div>
</div>
@code {

}
